.body-height{
    min-height: 500px !important;
}
.school{
    font-size: 80px;
    color: green;
}
.bgimg{
    background-image: url('https://www.sonetmicrosystems.com/images/slider-bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.bg-home{


}